*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

.heading{
    border: 2px solid white;
    color: white;
    background-color: brown;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.header-menu{
    width: 70%;
    margin: 0 auto;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.content{
    width: 45%;
    margin-left: 30px;   
}

.links{
    margin: 15px;
    display: inline-block;
}

h2{
    margin-bottom: 15px;
}

.date{
    margin-bottom: 10px;
    font-weight: bold;
}

    
    

